.publish
    &__inner
    &__widget
        max-width: 400px
        margin-right: 30px
    &__content

    &__item
        flex-basis: 400px
        background: #0e2e29
        border-radius: 10px
        padding: 0 15px 15px 15px
        margin-bottom: 30px
        &-box
            padding: 20px 10px
        &-link
            margin-left: 19px
    &__numb
        font-size: 12px
        border-radius: 50%
        background: #1eebcd
        color: #020e0c
        width: 30px
        height: 30px
    &__list
        background: #020e0c
        border-radius: 10px
        padding-bottom: 20px
        &-items
            padding: 10px 10px 10px 50px
            position: relative
            &::before
                content: url(../images/artical-icon.svg)
                position: absolute
                width: 24px
                left: 16px
                top: 16px
    &__tile
        margin-bottom: 30px
    &__top
        max-width: 350px    
        background: #0e2e29
        border-radius: 10px
        padding: 15px
        margin-bottom: 30px
        &-list
            padding-left: 15px
            list-style: list-style-type
        &-title
            margin-bottom: 15px
            font-weight: bold
        &-item
            margin-bottom: 10px
    &__content
        &-text
            margin: 10px 0px
        &-subtitle
            margin: 10px 0px
        &-data
            margin-top: 50px
            font-style: italic
            color: #1eebcd
            color: inharit